body {
    background-color: antiquewhite;
}
#banner{
    width: 50%;
    margin: 20px;
    padding: 5px;
}

.titulo {
    text-align: center;
    font-size: 30px;
    color: rgb(206, 20, 181);
}
.texto {
    text-align: center;
    color: #471a2d;
    font-size: 20px;
}
