body {
    background-color: antiquewhite;
}
#banner{
    width: 50%;
    margin: 20px;
    padding: 5px;
}

.titulo {
    text-align: center;
    font-size: 30px;
    color: rgb(206, 20, 181);
}
.texto {
    text-align: center;
    color: #471a2d;
    font-size: 20px;
}
header {
    padding: 10px;
    background-color: crimson;
    border-bottom: #471a2d;
    font-size: 20;
    color: ;
    display: flex;
    justify-content: space-around;
}
.cabecalho-imagem {
    width: ;

}
}
