body {
    background-color: antiquewhite;
}


#titulo {
    text-align: center;
    font-size: 30px;
    color: rgb(206, 20, 181);
}
.texto {
    text-align: center;
    color: #471a2d;
    font-size: 20px;
}
